/*====  EQUIPE ============================ */
#equipe-1 {
    background: white;
}

#equipe-1 .container {
    margin: 0;
}

#equipe-1 .image {
    position: relative;
}

#equipe-1 .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
}

#equipe-1 .image img {
    position: relative;
}

#equipe-1 .image img,
#equipe-1 .image::before {
    border-radius: 0.25rem;
}

#equipe-1 .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*====  COLABORADORES ============================ */
.cards.grid {
    gap: 1.5rem;
}

.card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}

.card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color);
}

.card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}


/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {

    /* equipe */
    #equipe-1 .container {
        margin: 0 auto;
        grid-auto-flow: column;
    }

    /* colaboradores */
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* large devices: 992 > */
@media (min-width: 992px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
}