/*====  PROJETOS ESTRUTURAIS ============================ */
.cards.grid {
    gap: 1.5rem;
}

.card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
}

.card i.icon-file-text2 {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color);
}

.card a i.icon-download {
    font-size: 1.5rem;
    color: var(--body--color);
    margin-right: 0.5rem;
}

.card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

/*Button*/

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {

    /* memorial */
    .cards {
        grid-template-columns: 1fr 0fr 0fr;
    }

    .card {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* large devices: 992 > */
@media (min-width: 992px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
}